.header{
    position: relative;
    &__top{
        position: absolute;    
        left: 0;
        top: 0;
        min-height: 5rem;
        color: white;
        z-index: 1000;
        width: calc(100vw - 18px); // because vertical scrollbar have 20px width
        transition: all .5s;
    }

    &__logo{
        transform: translateY(-5px);
        font-size: 2.7rem;
        font-weight: 400;
        line-height: 5rem;
        text-align: center;
        color: #dc0000;
        opacity: 0.8;
        text-transform: uppercase;
        display: block;
    }
}

.header__logo > span{
    font-size: 2rem;
    margin-left: 3px;
}

